nav{
    display: flex;
    justify-content: space-between;
    background-color: #D988B9;
    color: white;
}

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
}

li{
    text-decoration: none;
}


.left{
  
    font-size: 20px;
}
.two img{
    height: 350px;
    width: 300px;
    margin-right: 400px;  
    margin-top: 50px;    
    }

   .two{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    
   }

   h1{
    font-size: 60px;
    margin: 0;
    font-family:  'Open Sans', sans-serif;
   }

   p{
    margin: 0;
    font-weight: 300 ;
    font-size: 40px;
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
}
#info{
    width: 500px;
    margin-top: 50px;
    margin-left: 300px;
}



h2{
    font-size: 50px;
    color: white;
    margin-left: 50px;
    text-align: center;
    justify-content: center;
    font-family:  'Open Sans', sans-serif;
}

.study{
    color: white;
    font-size: 35px;
    margin: 50px;
}


#about-me{
    background-color: #D988B9;
}
a{
    color: white;
}


.five {
    background-color: #D988B9;
    height: 20vw;
    display: flex;
    flex-direction: column;
}
.apps {
    
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.linkedin{
    height: 50px;
    width: 50px;
    margin: 50px;
}

.git{
    height: 50px;
    width: 50px;
    margin: 50px;
}

.insta{
    height: 50px;
    width: 50px;
    margin: 50px;
}

.post{
    text-align: center;
    justify-content: center;
    color: black;
}

#skills{
    background-color: white;
}
.imglog {
    
    padding: 5vw 4vw 3vw 0vw;
    display: flex;
    justify-content: space-around;
    
    background-color: white;
}

.heading{
    font-size: 50px;
    color: black;
    margin-left: 50px;
    text-align: center;
    justify-content: center;
    font-family:  'Open Sans', sans-serif;
    font-weight: bold;
}